<ion-header>

  <!-- <ion-navbar> -->

    <ion-row class="head-row">
      <ion-col no-padding col-2>
        <!-- <button ion-button menuToggle> -->
          <!-- <img style="width: 2em;" src="assets/imgs/Dashboard/menu@2x.png"> -->
      <ion-icon name="arrow-back" class="back-iconn" (click)="navCtrl.pop()"></ion-icon>

        <!-- </button> -->
      </ion-col>
      <ion-col style="    margin: auto;" no-padding col-8>
        <ion-title>{{ 'QUALIFICATION' | translate }} </ion-title>

      </ion-col>
      <ion-col no-padding style="text-align:center" col-2>
        <img style="width: 2em;" src="assets/imgs/Overview/notification@2x.png">

      </ion-col>
    </ion-row>
  <!-- </ion-navbar> -->

</ion-header>


<ion-content class="cont-bg">
  <div class="cont-head">
    <ion-searchbar animated placeholder=" {{ 'SEARCH' | translate }}"></ion-searchbar>
    
  </div>

  <div class="cont-body">

      <ion-row style="width:100%;margin-top:5%;margin-bottom: 5%;">
          <button ion-button round class="saveBank" (click)="addqualification()">{{ 'ADD_QUALIFICATION' | translate }}</button>
      </ion-row>

    <!-- <ion-row class="boxes" *ngIf="bankList.length >1">
      <ion-col col-2>
        <img class="atn-img1" style="width: 3em;" src="assets/imgs/Overview/salary@2x.png">
      </ion-col>
      <ion-col>
        <p> {{ 'BANK_ACCOUNTS' | translate }}</p>

      </ion-col>
    </ion-row> -->

    <ion-row class="boxes" style=" justify-content: center;" *ngIf="qualificationList.length == 0">
      {{ 'NO_RECORD' | translate }} !
    </ion-row>
    
      


    
    






  </div>

</ion-content> 
