page-message-dialogue {

    .main-div{
        width: 80%;
        top: 25vh;
        margin: auto;
        position: relative;
    }

    .submain-div{
        background: white;
        margin-top: -8%;
        padding-top: 15%;
        padding-bottom: 4%;
        border-radius: 12px;        
    }
    .icon-row{
        justify-content: center;
    }

    .alert-img{
        width: 5vw;
        height: 5vw;
    }

    .alertTitle{
        justify-content: center;
        font-size: 2vw;

    }

    .alertMessage{
        justify-content: center;
        font-weight: normal;
        font-size: 1.6vw;
        padding-top: 2%;
        text-align: center;
        width: 98%;
        margin: auto;
    }

    .button-row{
        height: 5.5vw;
        justify-content: center;
        padding-top: 2%;
    }

    .ok-button{
        width: 100%;
        height:  100%;
        background-color: #5cbb56 !important;
        font-size: 1.8rem !important;
        font-weight: 400 !important;
    }

    .cancel-button{
        height:  100%;
        width: 100%;
        background-color: #E54848 !important;   
        font-size: 1.8rem !important;
        font-weight: 400 !important;     
    }

}

.picture-option{
    .modal-wrapper{
        -webkit-box-shadow: none !important;
        box-shadow: none !important;
        
    }

}
