<ion-menu [content]="content"  side="left"  >
  <ion-header class="menu-head">

    <ion-navbar>
      <!-- <ion-title>Admin Communications  [attr.side]="this.platform.dir()==='ltr'?'left':'right'"</ion-title> -->
      <ion-row>
        <ion-col col-2>
            <button ion-button menuToggle>
                <img style="width: 2em;" src="assets/imgs/Dashboard/menu@2x.png">
                <!-- <ion-icon class="menu-icon" name="menu"></ion-icon> -->
        
              </button>
        </ion-col>
        <ion-col col-6>

          </ion-col>
          <ion-col col-4>
              <img style="width: 2em;" *ngIf="!logoutbtn" class="noti-icon" src="assets/imgs/SideMenu/logout@2x.png">

              <span> {{ 'LOGOUT' | translate }}</span>
              <img style="width: 2em;" *ngIf="logoutbtn" class="noti-icon" src="assets/imgs/SideMenu/logout@2x.png">
            
            </ion-col>
      </ion-row>
     
     </ion-navbar>

     <ion-row class="head-second">
        <ion-col col-3>
           <img class="person-img" src="/assets/imgs/Dashboard/person.jpg" />
 
        </ion-col>
        <ion-col col-9 class="head-sec-inner">
           <h4>{{username}}</h4>
           <p>{{ 'SALES_MANAGER' | translate }}</p>
        </ion-col>
      </ion-row>
    <!-- <div class="head-second">
      
      <img class="person-img" src="/assets/imgs/Dashboard/person.jpg" />
      <div class="head-sec-inner">
        <h4>Mohammad</h4>
        <p>{{ 'SALES_MANAGER' | translate }}</p>
      </div>
    </div> -->
  </ion-header>


  <ion-content class="menu-list">
    <!-- <ion-list> -->
      <button menuClose ion-item *ngFor="let p of pages" (click)="openPage(p)">
          <ion-row>
              <ion-col col-2>
                  <img [src]="p.img">
              </ion-col>
              <ion-col style="    margin: auto;" col-10>
                  <p>
                    {{ p.title | translate }}
                    </p>
              </ion-col>
            </ion-row>
        
        <!-- <img [src]="p.img">
        <p>
          {{p.title}}
        </p> -->
      </button>
    <!-- </ion-list> -->

    <ion-row class="language">
      <ion-col col-2>
          <ion-icon class="globeicon" name="globe"></ion-icon>
      </ion-col>
      <ion-col col-8>
        <div *ngIf="logoutbtn" (click)="changeLanguage(1)">
          English
        </div>
        <div *ngIf="logoutbtn == false" (click)="changeLanguage(2)">
            {{  'ARABIC' | translate }}
        
        </div>
      </ion-col>
    </ion-row>

    <!-- <div class="language">  </div> -->
    <!-- <div [ngClass]=" logoutbtn == false ? 'lang-type':'language-type'">
      <div *ngIf="logoutbtn" (click)="changeLanguage(1)">
        English
      </div>
      <div *ngIf="logoutbtn == false" (click)="changeLanguage(2)">
          {{  'ARABIC' | translate }}
      
      </div>
    </div> -->
  </ion-content>

</ion-menu>

<!-- Disable swipe-to-go-back because it's poor UX to combine STGB with side menus -->
<ion-nav [root]="rootPage" #content swipeBackEnabled="false"></ion-nav>