<!-- <ion-header class="headerr">

   
    <button class="menu-btn" ion-button menuToggle float-left>
      <img style="width: 2em;" src="assets/imgs/Dashboard/menu@2x.png">
     
    </button>
    <ion-title class="head-title">BASIC INFORMATION</ion-title>

   

</ion-header> -->


<ion-content no-padding class="content-back">
  <ion-row class="top">
    <ion-row style="width:100%">
      <ion-col no-padding col-2>
        <button class="menu-btn" ion-button menuToggle float-left>
          <img style="width: 2em;" src="assets/imgs/Dashboard/menu@2x.png">
        </button>
      </ion-col>
      <ion-col class="head-title" no-padding col-8>
        <ion-row>
          {{ 'BASIC_INFORMATION' | translate }}
        </ion-row>
      </ion-col>
      <ion-col no-padding col-2>

      </ion-col>
    </ion-row>

    <!-- <ion-title class="head-title"></ion-title> -->
  </ion-row>
  <ion-row class="info">
    <ion-col class="imagee" col-3>
      <img style=" width:2.5em" src="assets/imgs/Overview/inbox@2x.png">
    </ion-col>
    <ion-col col-9>
      {{ 'ADD_BANK' | translate }}


    </ion-col>
  </ion-row>

  <ion-row class="details-row">
    <!-- <ion-row style="width: 100%;">
      <ion-col col-6>

      </ion-col>
      <ion-col col-6 style="    text-align: end;" *ngIf="!InfoIsEdit">
        <button ion-button (click)="EditInfo()">{{  'EDIT' | translate }} </button>
      </ion-col>
      <ion-col col-3 *ngIf="InfoIsEdit">
        <button ion-button color="danger" (click)="cancel()">{{  'CANCEL' | translate }} </button>
      </ion-col>
      <ion-col col-3 *ngIf="InfoIsEdit">
        <button ion-button color="secondary" (click)="updateProfile()">{{  'UPDATE' | translate }}</button>
      </ion-col>
    </ion-row> -->


    <ion-row class="inputBox">
      <ion-item>
        <ion-label stacked> {{ 'BANK_NAME' | translate }}</ion-label>
        <ion-input (input)="searchbanks()" type="text" [(ngModel)]="bankName">
        </ion-input>
      </ion-item>

      <div *ngIf="showBank" class="departList">
        <ion-item detail-push *ngFor="let item of banksList | filter : bankName" (click)="selectbank(item)">
          {{item.name}}
        </ion-item>
      </div>
    </ion-row>

    <ion-row class="inputBox">
      <ion-item>

        <ion-label stacked> {{ 'ACCOUNT_NO' | translate }}</ion-label>
        <ion-input type="tel" [(ngModel)]="accountNumber"></ion-input>
      </ion-item>
    </ion-row>
    <ion-row class="type">
      {{ 'STATUS' | translate }}

    </ion-row>



    <ion-row class="radio-btn" radio-group [(ngModel)]="bankStatus">

      <ion-col>
        <ion-item>
          <ion-radio   value="true"></ion-radio>

          <ion-label>{{ 'ACTIVE' | translate }}</ion-label>
        </ion-item>
      </ion-col>
      <ion-col>
        <ion-item>
          <ion-radio   value="false"></ion-radio>

          <ion-label>{{ 'DEACTIVE' | translate }}</ion-label>
        </ion-item>
      </ion-col>
    </ion-row>

<ion-row style="width:100%">
  <button ion-button round class="saveBank" (click)="createBank()">{{ 'SAVE' | translate }}</button>
</ion-row>


  </ion-row>

</ion-content>