page-leaves {
    //Header
    .toolbar-background {
        background: rgb(56, 128, 228) !important;
    }
    .top {
        width: 100%; // height: 3em;
        background: rgb(56, 128, 228); // width: 500px;
        height: 70px; // border: solid 5px #000;
        // border-color: transparent transparent #000 transparent;
        // border-radius: 0 0 85% 85%/30%;
        border-bottom-left-radius: 45% 77%;
        border-bottom-right-radius: 45% 77%; // border-radius: 0 0 240px 50%/60px;
        // border-bottom-left-radius: 100%;
        // border-bottom-right-radius: 100%;
    }
    .toolbar {
        min-height: 60px !important;
    }
    .toolbar-title {
        color: white;
        text-align: center;
        font-weight: 400 !important;
        text-transform: uppercase;
        font-size: 1.6rem !important;
    }
    .header::after,
    .tabs[tabsPlacement="top"]>.tabbar::after,
    .footer::before,
    .tabs[tabsPlacement="bottom"]>.tabbar::before {
        height: 0px !important;
        background-position: left 0 top 0px !important; // position: absolute;
        width: 100%;
        height: 0px !important;
        background-image: none !important
    }
    .noti-icon {
        float: right;
        font-size: 30px;
        margin-right: 4%;
        color: #fff;
    }
    ion-title {
       text-align: center;
    } //Header End
    // Content-Header
    .cont-bg {
        background: #EBEBEB;
        background-color: #EBEBEB;
    }
    .cont-head {
        width: 100%;
        height: 21%;
        background: #337de7;
        border-radius: 0 0 140% 140%/60%;
    }
    .searchbar {
        padding: 5%;
    }
    .searchbar .searchbar-input {
        border-radius: 150px;
    }
    .add-col{
        text-align: center;
    margin: auto;
    color: white;
    font-size: 1.5em;
    }
    .boxes{
        width: 90%;
        margin: auto;
        background: white;
        padding: 2%;
        border-radius: 15px;
        box-shadow: 2px 2px rgba(52, 52, 52, 0.10);
        margin-top: 3%;
        }
        
        .boxes ion-col{
        font-size: 16px;
        align-self: center;
        }
    .boxes p {
        margin: auto;
        margin-top: 3%; // margin-left: 18%;
        font-size: 17px;
    }
    .col-right{
        text-align: right;

    }
    .col-left{
        text-align: left;
        
    }
    .cont-body {
        margin-top: 10%;
    }
    .atn-inner {
        float: left;
    }
     
    ion-badge {
        margin-top: 5%;
    }
    .new-badg {
        background: #327ee7;
    }
    .pend-badg {
        background: #fcc700;
    }
    .success-badg {
        background: #00895d;
    }
}